{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>All Compendium Pages</h2>
      {% for page in pages %}
      <div class="row">
        <div class="col">
          <h4>
            <a href="{{ url_for('admin_compendium.profile', compendium_id=page.id) }}">{{ page.title }}</a>
          </h4>
        </div>

        <div class="col">
          <div class="btn-toolbar">
            <a class="btn btn-sm btn-secondary" href="{{ url_for('admin_compendium.edit', compendium_id=page.id) }}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('admin_compendium.delete', compendium_id=page.id) }}">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <form class="col" action="" method="post">
      {{ form.hidden_tag() }}

      <h2>New Compendium Page</h2>

      <div class="form-group">
        {{ form.title(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>
</div>
{% endblock content %}
