{% extends 'layout.html' %}

{% block content %}
<form class="container" action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-8 h2">
      Editing Compendium Page #{{ page.id }}
    </div>

    <div class="col">
      <div class="btn-toolbar">
        <a class="btn btn-primary" href="{{ url_for('admin_compendium.profile', compendium_id=page.id) }}">View</a>
        <a class="btn btn-danger" href="{{ url_for('admin_compendium.delete', compendium_id=page.id) }}">Delete</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    {{ form.title.label }}
    {{ form.title(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.content.label }}
    {{ form.content(class="form-control", rows="15") }}
  </div>

  <div class="form-group">
    {{ form.file.label }}
    {{ form.file(class="form-control-file") }}
  </div>

  <div class="form-group text-center">
    {{ form.submit(class="btn btn-primary") }}

  </div>
</form>
{% endblock content %}
