<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="UTF-8">
  <title>Depths API</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock head %}

{% block body %}
<body>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{{ url_for('admin_main.home') }}">
    Depths API
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if current_user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupporedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin_users.all_users') }}">
          Users
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin_compendium.all_compendium') }}">
          Compendium
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin_main.logout') }}">
          Logout
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</nav>
{% endblock navbar %}

{% block flash %}
{% for message in get_flashed_messages() %}
<div class="container alert alert-info">
  {{ message }}
</div>
{% endfor %}
{% endblock flash %}

{% block content %} {% endblock content %}
</body>
{% endblock body %}
</html>
