<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="UTF-8">
  <title>Depths API</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock head %}

{% block body %}
<body>
{% block navbar %}
<nav class="navbar navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{{ url_for('admin_main.home') }}">
    Depths API
  </a>
  {% if current_user.is_authenticated %}
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="btn btn-outline-light" href="{{ url_for('admin_users.all_users') }}">Users</a>
    </li>

    <li class="nav-item">
      <a class="btn btn-outline-light" href="{{ url_for('admin_compendium.all_compendium') }}">Compendium</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-light" href="{{ url_for('admin_character.all_characters') }}">Characters</a>
    </li>
  </ul>
  <a class="btn btn-outline-light" href="{{ url_for('admin_main.logout') }}">
    Logout
  </a>
  {% endif %}
</nav>
{% endblock navbar %}

{% block flash %}
{% for message in get_flashed_messages() %}
<div class="container alert alert-info">
  {{ message }}
</div>
{% endfor %}
{% endblock flash %}

{% block content %} {% endblock content %}
</body>
{% endblock body %}
</html>
